<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="SWGEmuAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup></configSections>
  <system.web>
    <httpRuntime />
    <httpHandlers>
      <add path="*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <customErrors mode="Off" />
    <compilation debug="true"><assemblies>
      <add assembly="System.Web.Razor.Unofficial" /></assemblies>
      <buildProviders>
        <add extension=".cshtml" type="ServiceStack.Razor.CSharpRazorBuildProvider, ServiceStack.Razor" />
      </buildProviders></compilation>
  </system.web>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.8.3.0" newVersion="6.8.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add path="*" name="ServiceStack.Factory" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" preCondition="integratedMode" resourceType="Unspecified" allowPathInfo="true" />
    </handlers>
  </system.webServer>
<system.web.webPages.razor>
    
    <pages pageBaseType="ServiceStack.Razor.ViewPage">
      <namespaces>
        
        
        
        
        
        <add namespace="OAuth2" />
      <add namespace="ServiceStack.Html" /><add namespace="ServiceStack.Razor" /><add namespace="ServiceStack.Text" /><add namespace="ServiceStack.OrmLite" /><add namespace="SWGEmuAPI" /></namespaces>
    </pages>
  <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /></system.web.webPages.razor>
  <applicationSettings>
    <SWGEmuAPI.Properties.Settings>
      <setting name="DetailsFilePath" serializeAs="String">
        <value>/var/mono-www/App_Data/StringDetails</value>
      </setting>
      <setting name="DetailsBak" serializeAs="String">
        <value> C:\Users\Brenden\Documents\details</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>server=localhost;port=3306;uid=root;pwd=12345678;database=oauth</value>
      </setting>
    </SWGEmuAPI.Properties.Settings>
  </applicationSettings>
<appSettings>
    <add key="webPages:Enabled" value="false" />
  </appSettings></configuration>